loguru==0.7.2
tqdm==4.66.4
langchain-openai==0.1.7
langchain-postgres==0.0.6
psycopg2-binary==2.9.9
streamlit==1.34.0
streamlit-extras==0.4.2
websocket-client==1.8.0
numexpr==2.10.0
langchainhub==0.1.16
nbconvert==7.16.4
python-dotenv==1.0.1
sqlglot==25.1.0
langgraph==0.0.69
langchain==0.2.5